build/
*.synctex.gz
pres_roil/main.pdf
resume/main.pdf
survey/main.pdf
pres_RLC/main.pdf
pres_RLC/presentation/build
pres_RLC/presentation/main.pdf
pres_RLC/poster/build
pres_RLC/poster/build
archived/marek_safe_RL/build
archived/pres_RLC/build
archived/pres_RLC/poster/build
archived/pres_RLC/presentation/build
archived/pres_roil_3_min/build
archived/pres_roil_3_min/main.pdf
temp_resume/*
temp_resume
